MINIO_ROOT_USER=lakeops
MINIO_ROOT_PASSWORD=lakeops-development-only
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
LAKEHOUSE_BUCKET=lakehouse

AWS_ACCESS_KEY_ID=lakeops
AWS_SECRET_ACCESS_KEY=lakeops-development-only
AWS_DEFAULT_REGION=us-east-1
LAKEOPS_S3_ENDPOINT_URL=http://localhost:9000
LAKEOPS_S3_BUCKET=lakehouse
LAKEOPS_S3_PREFIX=landing

HMS_POSTGRES_DB=metastore
HMS_POSTGRES_USER=hive
HMS_POSTGRES_PASSWORD=hive-development-only
HIVE_METASTORE_PORT=9083
TRINO_HTTP_PORT=8080

RANGER_ADMIN_PORT=6080
RANGER_DB_ROOT_PASSWORD=rangerR0cks!
RANGER_DB_USER=rangeradmin
RANGER_DB_PASSWORD=rangerR0cks!
RANGER_ADMIN_USER=admin
RANGER_ADMIN_PASSWORD=rangerR0cks!
